<div
  fxLayout="row"
  fxLayout.sm="column"
  fxLayout.xs="column"
  fxLayoutWrap
  fxLayoutAlign="space-between start"
  fxLayoutGap="10px"
  style="padding: 10px 3px"
  fxFlexFill
>
  <div fxFlex="20" fxFlexFill fxLayout="column" fxLayoutAlign="space-between" fxLayoutGap="60px">
    <app-data-summary [itemsGros]="itemsGros"></app-data-summary>
    <app-data-summary [itemsGros]="huile"></app-data-summary>

  </div>
  <div fxFlex >
      <app-data-summary-header [items]="items" ></app-data-summary-header>
  </div>
</div>
